//- partials/head.jade
head
    title!= title
    link( rel="stylesheet" href="/style.css")
    link( rel="stylesheet" href="/menu.css")
    meta( charset="utf-8" )
  //- условие для запуска теста
  if (showTests)
  link( rel="stylesheet" href="/vendor/mocha.css") 
   script( src="//code.jquery.com/jquery-2.0.2.min.js")

