//- partials/menu.jade
nav( class="top-menu")
  a( class="navbar-logo" href="/")
  img( src="/img/BATRAND_LOGO.png")
  ul( class="menu-main")
    li 
      a( href="/") Главная
    li 
      a( href="/contact") Контакты
    li 
      a( href="/tours/hood-river") Река Худ


