<!DOCTYPE html>
<html>

<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="/style.css">

    <meta charset="utf-8" />
    <!-- условие для запуска теста-->
    {{#if showTests}}
    <link rel="stylesheet" href="/vendor/mocha.css"> {{/if}}
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>

</head>

<body>
    <div class="wrapper">
        <div class="content">
            {{> menu}}
            <h1>Главная страница</h1>
            <header><img src="/img/logo.jpg" alt="Логотип Meadowlark Travel"></header>


            <blockquote>{{fortune}}</blockquote>
        </div>
        <div class="footer">{{> footer}}</div>

    </div>

    {{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
        mocha.ui('tdd');
        var assert = chai.assert;

    </script>
    <script src="/qa/tests-global.js"></script>
    {{#if pageTestScript}}
    <script src="{{pageTestScript}}"></script>
    {{/if}}
    <script>
        mocha.run();
    </script>
    {{/if}}

</body>
<html>