<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" src="https://www.w3schools.com/w3css/4/w3.css">
<html>

<style>
.w3-half {height:280px;padding-top:16px}
</style>

<body>
<div class="w3-row">
  <div class="w3-half w3-center" style="background:#eaece5">
  <p class="w3-xxlarge"><b>ON TOUR</b></p>
  <p class="w3-xxlarge">2016</p> 
  </div>
  <div class="w3-half w3-center w3-xlarge"  style="background:#b2c2bf">
  <p><span class="w3-tag w3-xxlarge">FREE</span></p>
  <p class="w3-xlarge w3-wide">101<br>TEMPLATES</p>
  </div>
</div>

<div class="w3-row">
  <div class="w3-half w3-center" style="background:#c0ded9">
  <p class="w3-xxlarge">101<br>COLOR<br>PALETTES</p>
  </div>
  <div class="w3-half w3-center"  style="color:#fff;background:#3b3a30">
  <p class="w3-xxlarge w3-wide">LOTS OF<br>NEW<br>INSPIRATION</p>
  </div>
  </div>

</body>
</html>