
/*.footer {
	white-space: pre;
	font-size: .8em;
	margin-left: 10px;
	max-height: 5em;
	overflow: auto;
	border: 1px inset red;
	padding: 1em;
	background: #eef;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	}
*/

* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 750px;
	height: 100%;
	margin: 0 auto;
	background: #F5F7FA;
	font: 14px/20px Arial, sans-serif;
}
.content {
	flex: 1 0 auto;
}
h1 {
	padding: 40px 20px 30px;
	font: 26px/1.3 Arial, sans-serif;
	text-align: center;
}

h2 {
	padding: 40px 20px 30px;
	font: 24px/1.3 Arial, sans-serif;
}

p {
	padding: 10px 20px;
}
a {
	color: #3498DB;
}
.footer {
	flex: 0 0 auto;
	height: 30px;
	/* background: #3498DB;
	  width: 200px; */
    background: #ccc;
    padding: 5px;
    padding-right: 0px; 
   /* border: solid 1px black;*/ 
	float: left;
	font: 12px "Lucida Grande", sans-serif;
}
