//- request.jade
extends ../layouts/main.jade

block content
   form( )
        input( type="hidden", name="referrer")  
        |Название: #[br]
        input#fieldName( type="text", name="name") 
        |#[br]
        |Размер группы: #[br]
        input( type="text", name="groupSize")  
        |#[br]
        |Электронная почта: #[br]  
        input( type="email", name="email")
        |#[br]
        input( type="submit", value="Submit")

